<div class="container mt-5">
  <h3>hello</h3>
  <h1><%= @ngo_user.name %></h1>
  <!-- Display other attributes of @ngo_user as needed -->
  <%= link_to 'Verify', ngo_users_verify_path, class: 'btn btn-primary' %>
</div>