<div id="user_history" class="add-small-shadow pri-container container mt-5 pt-4 px-3 pb-3" style='height: 75vh;'>
  <div class='row'>
    <h3 class='ml-5 mb-2'>Activity History</h3>
  </div>
  <div style="max-height:65vh; overflow-y: auto; overflow-x: hidden;">
    <% @user_history.each do |history| %>
      <%= link_to user_particular_path, style: "text-decoration: none; color: inherit;"  do %>
        <div class="flex d-flex py-2 px-2 my-1 mx-3 bg-light add-small-shadow align-items-center" style='border-radius: 16px;'>
          <div class="d-flex justify-content-center align-items-center mr-3" style="background-color: #f1536a; width: 60px; height: 60px; border-radius: 50%;">
            <i class="bi bi-person" style="color: white; font-size: 45px;"></i>
          </div>
          <div>
            <h6><%= history.activity_title %><span class="text-muted"><small><%= " • #{time_ago_in_words(history.updated_at)}" %> ago</small></span></h6>
            <div class="truncate-multiline">
              <p><%= history.description %></p>
            </div>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
</div>