  <h3 class='text-center m-3'>Activity History</h3>
  <div class='container'>
  <div id="user_history" class="row d-flex justify-content-center" style="font-size:0.8em; max-height:65vh; overflow-y: auto; overflow-x: hidden;">
    <% @user_history.each do |history| %>
        <div class="py-1 col-11 flex d-flex bg-light add-small-shadow align-items-center my-1 mx-3" style='border-radius: 16px;'>
          <div class="d-flex justify-content-center align-items-center p-2 mr-3" style="background-color: #f1536a; width: 15vw; height: 15vw; border-radius: 50%; max-width:60px; max-height:60px;">
            <i class="bi bi-person" style="color: white; font-size: 45px;"></i>
          </div>
          <div>
            <h6 class='m-0'><%= history.activity_title %></h6>
            <span class="text-muted"><small><%= " • #{time_ago_in_words(history.updated_at)}" %> ago</small></span>
            <div>
              <p class='m-0'><%= history.description %></p>
            </div>
          </div>
        </div>
    <% end %>
  </div>
  </div>
</div>
