<!-- app/views/uploaded_files/index.html.erb -->
<h1>Your Uploaded Files</h1>

<ul id="file-list">
  <% @uploaded_files.each do |file| %>
    <li>
      <%= file.name %> - <%= link_to 'Download', file.file_path.url, target: '_blank' %> - <%= link_to 'Delete', user_particular_uploaded_file_path(@user_particular, file), method: :delete, data: { confirm: 'Are you sure?' } %>
    </li>
  <% end %>
</ul>

<form id="upload-form">
  <input type="file" id="file-input" name="uploaded_file[file_path]">
  <input type="hidden" name="uploaded_file[name]" id="document-name">
  <input type="hidden" name="uploaded_file[file_type]" id="document-type">
  <input type="hidden" name="uploaded_file[file_size]" id="document-size">
  <button type="submit">Upload</button>
</form>

<script>
document.getElementById('file-input').addEventListener('change', function(event) {
  var file = event.target.files[0];
  document.getElementById('document-name').value = file.name;
  document.getElementById('document-type').value = file.type;
  document.getElementById('document-size').value = file.size;
});

document.getElementById('upload-form').addEventListener('submit', function(event) {
  event.preventDefault();

  var formData = new FormData(event.target);
  fetch('<%= user_particular_uploaded_files_path(@user_particular) %>', {
    method: 'POST',
    headers: {
      'X-CSRF-Token': document.querySelector('meta[name="csrf-token"]').getAttribute('content')
    },
    body: formData
  })
  .then(response => response.json())
  .then(file => {
    var fileList = document.getElementById('file-list');
    var listItem = document.createElement('li');
    listItem.innerHTML = `${file.name} - <a href="${file.file_path.url}" target="_blank">Download</a> - <a href="/user_particulars/${file.user_particular_id}/uploaded_files/${file.id}" data-method="delete" data-confirm="Are you sure?">Delete</a>`;
    fileList.appendChild(listItem);
  })
  .catch(error => console.error('Error:', error));
});
</script>
