.container-1 { /* Assuming you have a container class */
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%; /* Cover the full width */
}
.card-1 {
    border-radius: 15px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 500px;
    background: linear-gradient(to right, #fe8497, #fdc6cf); /* Left to right gradient */
}
.card-1-header {
    background-color: #f05454;
    color: white;
    text-align: center;
    padding: 10px;
    font-weight: bold;
}
.card-1-body {
    padding: 20px 20px 5px 20px;
}

.card-1-body-hide{
    padding-left: 130px;
}

.photo-1 {
    width: 100px;
    height: 120px;
    border-radius: 10px;
    overflow: hidden;
    float: left;
    margin-right: 10px;
}
.photo-1 img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.details-1 p {
    margin: 5px 0;
    font-size: 17px;
}
.toggle-button-1 {
    width: 30%; 
    padding: 10px 20px; /* Add horizontal padding */
    background-color: transparent; /* Transparent background */
    color: #000000; /* Subtle text color */
    border: none; /* Remove border to make it flush */
    cursor: pointer;
    font-size: 15px;
    text-align: left;
    transition: background-color 0.3s, color 0.3s;
    outline: none; /* Remove outline */
    box-sizing: border-box; /* Include padding and border in width calculation */
}

.toggle-button-1:hover {
    background-color: #fdc6cf; /* Slightly darker on hover */
    color: #000000; /* Slightly darker text on hover */
}

.toggle-button-1:after {
    content: '\25BC';
    float: right;
}

.toggle-button-1.show:after {
    content: '\25B2';
}

.collapse-1 {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease-in-out;
}

.collapse-1.show {
    max-height: 500px; /* Adjust as needed */
}

.custom-pending-verification-1 {
    background-color: #dc3545; /* Equivalent to bg-danger */
    padding: 0.25rem; /* Equivalent to p-1 */
    color: #ffffff; /* Equivalent to text-white */
    border-radius: 0.25rem; /* Optional: add some border radius */
}

.custom-verified-1 {
    background-color: #28a745; /* Equivalent to bg-success */
    padding: 0.25rem; /* Equivalent to p-1 */
    color: #ffffff; /* Equivalent to text-white */
    border-radius: 0.25rem; /* Optional: add some border radius */
}
.custom-pending-verification-text-1 {
    color: black; /* Change text color to black */
}