.card-1 {
  border-radius: 15px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 100%;
  min-width: 300px;
  max-width: 460px;
  background: linear-gradient(
    to right,
    #ff8989,
    #ffb9b9
  ); /* Left to right gradient */
  font-size: 0.7em;
}

.card-1-header {
  background-color: #fb7c7c;
  color: black;
  text-align: center;
  font-weight: bold;
  width: 100%;
  font-size: 1.5em;
  font-family: "Arial";
}

.verification-icon {
  width: 24px;
  height: 24px;
}

.fingerprint-icon {
  right: 400px;
  width: 80px;
  height: 80px;
  background-color: white;
  border-radius: 20%;
  z-index: 1; /* Ensure it floats above other content */
}

.photo-1 {
  float: left;
  padding: 10px;
  width: auto;
  height: auto;
}

.profile-image {
  width: 50px;
  height: 50px;
  border: 1px solid black;
}

.details-1 {
  padding: 4px;
  padding-top: 30px;
}

.details-1 p {
  margin: 2px 0;
}

.details-1 .section {
  margin-top: 2px; /* Adjust the margin to create separation */
}

.card-footer {
  background-color: #fb7c7c;
  color: black;
  text-align: center;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  font-size: 1em;
}

.details-1 p {
  margin: 1px 0;
  line-height: 1.4;
}

.two-fa-passcode-input {
  background-color: #333; /* Dark gray background */
  color: white; /* White text color */
  border: none; /* No border */
  padding: 10px 20px; /* Padding around text */
  font-size: 16px; /* Font size */
  border-radius: 5px; /* Slightly rounded corners */
  cursor: pointer; /* Cursor indicates clickable */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3); /* Subtle shadow for depth */
  transition: background-color 0.3s; /* Smooth transition for hover effect */
}

.two-fa-passcode-input {
  color: black;
  background-color: #f0f0f0; /* Light gray background */
  border: 2px solid #ccc; /* Gray border */
  border-radius: 5px; /* Rounded corners */
  padding: 10px 20px; /* Padding inside the input */
  width: 120px; /* Fixed width */
  text-align: center; /* Center text alignment */
  font-size: 16px; /* Font size */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); /* Subtle shadow for depth */
}

.bordered-table {
  width: 100%;
  border-collapse: collapse;
}
.bordered-table td,
.bordered-table th {
  padding: 1px;
  vertical-align: top;
}

.qr-code {
  text-align: right;
  width: 30px;
  height: 30px;
}

.qr-code img {
  width: 10px;
  height: 10px;
}

.big-btn {
  font-size: 20px; /* Increase font size */
  padding: 15px 30px; /* Increase padding to make the button bigger */
}

.high-z-index-btn {
  position: relative;
  z-index: 1000; /* Ensure this is higher than the z-index of other elements */
}

.card-1-body {
  position: relative; /* Step 1 */
}

.overlayhome {
  position: absolute; /* Step 2 */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 10; /* Step 3: Ensure this is higher than any other content within card-1-body */
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(
    0,
    0,
    0,
    0.507
  ); /* Optional: Adds a see-through effect */
}
