.pri-container {
  background-color: #fff1f1 !important;
  border-radius: 30px !important;
}

.ngo-page .pri-container {
  background-color: #cff9f9 !important;
}

.ngo-page .formcol {
  background-color: #0eac95 !important;
  border-radius: 30px !important;
}


.add-small-shadow {
  box-shadow: 0px 2px 2px 2px rgba(94, 94, 94, 0.2);
}

.truncate-multiline p {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: normal;
  max-height: 3em; /* Adjust based on your line-height and number of lines */
  line-height: 1.5em;
  margin-bottom: 0;
}

.truncate-small-multiline {
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: normal;
  max-height: 3em; /* Adjust based on your line-height and number of lines */
  line-height: 1.5em;
  margin-bottom: 0;
  max-width: 30ch;
}


.event-card {
  transition: box-shadow 0.3s ease;
}

.event-card:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  cursor: pointer;
}

.message-btn{
  background-color: #ffb9b9;
  border: 2px solid #ccc;
  border-radius: 5px;
  padding: 10px 20px;
  width: 120px;
  text-align: center;
  font-size: 16px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}
